<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright 2024 the original author or authors.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="plus.jqm.admin.mapper.SysUserMapper">
    <resultMap id="userDetailMap" type="plus.jqm.api.domain.SysUserDetail">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
        <result property="salt" column="salt"/>
        <result property="gender" column="gender"/>
        <result property="mobileNumber" column="mobile_number"/>
        <result property="avatar" column="avatar"/>
        <result property="email" column="email"/>
        <result property="status" column="status"/>
        <result property="createdBy" column="created_by"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedBy" column="updated_by"/>
        <result property="updatedTime" column="updated_time"/>
        <result property="deleted" column="is_deleted"/>
        <association property="dept" columnPrefix="dept_">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
            <result property="parentId" column="parent_id"/>
            <result property="sortOrder" column="sort_order"/>
            <result property="createdBy" column="created_by"/>
            <result property="createdTime" column="created_time"/>
            <result property="updatedBy" column="updated_by"/>
            <result property="updatedTime" column="updated_time"/>
            <result property="deleted" column="is_deleted"/>
        </association>
        <collection property="roleList" columnPrefix="role_" ofType="plus.jqm.api.domain.SysRole">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
            <result property="description" column="description"/>
            <result property="createdBy" column="created_by"/>
            <result property="createdTime" column="created_time"/>
            <result property="updatedBy" column="updated_by"/>
            <result property="updatedTime" column="updated_time"/>
            <result property="deleted" column="is_deleted"/>
        </collection>
        <collection property="menuList" columnPrefix="menu_" ofType="plus.jqm.api.domain.SysMenu">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
            <result property="enName" column="en_name"/>
            <result property="parentId" column="parent_id"/>
            <result property="permission" column="permission"/>
            <result property="path" column="path"/>
            <result property="icon" column="icon"/>
            <result property="sortOrder" column="sort_order"/>
            <result property="type" column="type"/>
            <result property="hidden" column="is_hidden"/>
            <result property="createdBy" column="created_by"/>
            <result property="createdTime" column="created_time"/>
            <result property="updatedBy" column="updated_by"/>
            <result property="updatedTime" column="updated_time"/>
            <result property="deleted" column="is_deleted"/>
        </collection>
    </resultMap>
    <resultMap id="rolePermissionMap" type="plus.jqm.api.domain.SysRolePermission">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="createdBy" column="created_by"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedBy" column="updated_by"/>
        <result property="updatedTime" column="updated_time"/>
        <collection property="permissionList" ofType="String">
            <result property="value" column="permission"/>
        </collection>
    </resultMap>
    <sql id="userDetailSQL">
        u.id,
        u.username,
        u.name,
        u.password,
        u.salt,
        u.dept_id,
        u.gender,
        u.mobile_number,
        u.avatar,
        u.email,
        u.status,
        u.created_by,
        u.created_time,
        u.updated_by,
        u.updated_time,
        u.is_deleted,
        d.name dept_name,
        d.parent_id dept_parent_id,
        d.sort_order dept_sort_order,
        d.created_by dept_created_by,
        d.created_time dept_created_time,
        d.updated_by dept_updated_by,
        d.updated_time dept_updated_time,
        d.is_deleted dept_is_deleted,
        ur.role_id,
        r.name role_name,
        r.description role_description,
        r.created_by role_created_by,
        r.created_time role_created_time,
        r.updated_by role_updated_by,
        r.updated_time role_updated_time,
        r.is_deleted role_is_deleted,
        rm.menu_id,
        m.name menu_name,
        m.en_name menu_en_name,
        m.parent_id menu_parent_id,
        m.permission menu_permission,
        m.path menu_path,
        m.icon menu_icon,
        m.sort_order menu_sort_order,
        m.type menu_type,
        m.is_hidden menu_is_hidden,
        m.created_by menu_created_by,
        m.created_time menu_created_time,
        m.updated_by menu_updated_by,
        m.updated_time menu_updated_time,
        m.is_deleted menu_is_deleted
    </sql>
    <sql id="rolePermissionSQL">
        u.id,
        r.name,
        r.description,
        r.created_by,
        r.created_time,
        r.updated_by,
        r.updated_time,
        m.permission
    </sql>
    <select id="selectUserDetailById" resultMap="userDetailMap">
        SELECT
        <include refid="userDetailSQL"/>
        FROM sys_user u
        LEFT OUTER JOIN sys_dept d ON u.dept_id = d.id
        LEFT OUTER JOIN sys_user_role ur ON u.id = ur.user_id
        LEFT OUTER JOIN sys_role r ON ur.role_id = r.id
        LEFT OUTER JOIN sys_role_menu rm ON r.id = rm.role_id
        LEFT OUTER JOIN sys_menu m ON rm.menu_id = m.id
        <where>
            u.id = #{id}
        </where>
    </select>
    <select id="selectRolePermissionByUserId" resultMap="rolePermissionMap">
        SELECT
        <include refid="rolePermissionSQL"/>
        FROM sys_user u
        INNER JOIN sys_user_role ur ON u.id = ur.user_id
        INNER JOIN sys_role r ON ur.role_id = r.id
        INNER JOIN sys_role_menu rm ON r.id = rm.role_id
        INNER JOIN sys_menu m ON rm.menu_id = m.id
        <where>
            u.id = #{id};
        </where>
    </select>
</mapper>